.text {
  margin: 0;
}

.description {
  overflow-wrap: break-word;
  word-break: break-word;
}

.scenarioPage {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;

  overflow-wrap: break-word;
  word-break: break-word;
  
  /* Менявшая высоту привязка убрана */
  height: auto;
}

.buttonChoiceScenario {
  /* Убираем абсолютное позиционирование */
  position: static; 
  align-self: center;

  width: 70%;
  max-width: 400px;

  background-color: rgba(44, 194, 149, 0.8);
  color: white;

  padding: 12px 16px;
  border: none;
  border-radius: 8px;

  font-weight: 800;
  font-size: 18px;
  transition: all 0.3s ease;

  /* Задаем фиксированный отступ СВЕРХУ от текста */
  margin-top: 150px; 
  margin-bottom: 15px;
}
