* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  color: #f1f7f7;
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
  color: #aacbc4;
}

.stats-card {
  background-color: #495d5c;
  border-radius: 30px;
  padding: 50px;
  display: flex;

  gap: 40px;
}

.graph-img {
  width: 100%;
}

@media (max-width: 800px) {
  .stats-description h2 {
    font-size: 28px;
  }
  .stats-description p {
    font-size: 16px;
  }
  .cards-grid {
    display: flex;
    flex-direction: column;
  }
  .card {
    padding: 0;
    justify-content: space-around;
  }
  .card p {
    display: none;
  }
}

@media (max-width: 650px) {
  .header {
    flex-direction: column;
    background-color: #021b1a;
    padding-bottom: 2%;
  }

  nav {
    width: 100%;

    justify-content: space-between;
  }
  .hero {
    padding: 0;
    min-height: 330px;
    background-position: calc(50% + 35%) center;
  }
  .hero h1 {
    width: 60%;
    font-size: 160%;
  }

  .hero p {
    font-size: 75%;
  }

  .stats {
    padding: 10px 0;
  }
  .stats-card {
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }

  .card h3 {
    height: 60px;
    text-transform: uppercase;
  }
}

@media (max-width: 300px) {
  html {
    overflow-x: auto;
  }
  body {
    min-width: 300px;
  }
  .header {
    flex-direction: column;
    background-color: #021b1a;
  }
  nav {
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-between;
    /* grid: 5px; */
  }
}
